body{
    background-color: rgba(231, 28, 89, 0.89);
}
/* h1{
    color: rgb(27, 167, 209);
}
p{
    color: rgba(168, 54, 20, 0.76);
} */
.titulo1{
    color: rgb(104, 238, 51);
}
.Parrafo{
    color: darkblue;
}
.titulo2{
    color: darkmagenta;
}